.well-known/
/.DS_Store

# CI
Accounting/
Accounting_development/
Accounting_system/
e-forms/
pcqilms/

*.zip
uploads/

2023-03-01_backup_Instructional Video  - Others - Instructional Video - Others.zip.PnTasB

InterlinkIQ_Backup_Files

ziWPYmYs
zirdZpxi

modules-old/
assets/

sendemail.interlinkiq.com
sendemails.interlinkiq.com
error_log
/error_log
User.zip - 20230108

/uploads/*
**/uploads/*

MyPro_Folder_Files/

jobs/files/
inc/blog_thumbnails/
meeting_references/
project_management_file/
quotation_files/
facility_files_Folder/
dompdf/
exes/
global_utils/
*/PHPMailer/*
companyDetailsFolder/

app-store-img/
Customer_Relationship_files_Folder/
afia_forms/
customer_care_file/

Disaster_Supporting_files_Folder/
Product_Page/upload/
TCPDF/
PHPExcel/
PHPMailer/

webhooks.php
error.log

database.php
database_payroll.php
database_pmp.php
database_sanitation.php
database_emp.php
database_afia_forms.php
database_forms.php
database_iiq.php

# local development environment
local-dev.php

vendor/*
pcqilms-toberemove/

PHPMailer_old/
PHPMailer_old_2/
test/
error_log_2

fsvp-old/
wp/

function-10.php
function-11.php
function-99.php
rvm-2.php
