.well-known/
/.DS_Store

# CI

pcqilms/

*.zip
uploads/

2023-03-01_backup_Instructional Video  - Others - Instructional Video - Others.zip.PnTasB

InterlinkIQ_Backup_Files

ziWPYmYs
zirdZpxi

modules-old/
assets/

sendemail.interlinkiq.com
sendemails.interlinkiq.com
error_log
/error_log
User.zip - 20230108

/uploads/*
**/uploads/*

MyPro_Folder_Files/


dompdf/
exes/
global_utils/
*/PHPMailer/*
companyDetailsFolder/

app-store-img/
Customer_Relationship_files_Folder/
afia_forms/
customer_care_file/

Disaster_Supporting_files_Folder/
Product_Page/upload/
TCPDF/
PHPExcel/
PHPMailer/

webhooks.php
error.log

database.php
database_payroll.php
database_pmp.php
database_sanitation.php
database_emp.php
database_afia_forms.php
database_forms.php
database_iiq.php

# local development environment
local-dev.php

vendor/*
pcqilms-toberemove/

PHPMailer_old/
PHPMailer_old_2/
test/
error_log_2

fsvp-old/
wp/

function-10.php
function-11.php
function-99.php
rvm-2.php
wp-*

.htaccess
.vscode
function-*.php

testing-bash-script/
dompdf-x/

meeting_references/946658 - RFP-OSHA SQF FM Training  (2023-12-08 13_05 GMT-6).mp4
companyDetailsFolder/264053 - FWCC-Storage Area-PM 20221101.mp4
companyDetailsFolder/310728 - FWCC-Production Area 20221101.mp4
companyDetailsFolder/345714 - GFS-Facility Walkthrough-20221028.mp4
wp-content/ai1wm-backups/interlinkiq-com-wp-wp-interlinkiq-master-20240629-110015-ugo5o0.wpress