*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Gideon Roman', cursive;
}

.header
{
    width: 100%;
    height: 70vh;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(15, 15, 15, 0.3)), url('../images/photo-1554061815-236fd6da1a3d.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    
}

.header .menus
{
    background-color: black;
    width: 100%;
    height: 100px;
    opacity: 0.5;
    color: #ffff;
    display: flex;
    overflow: hidden;
   
}

.header .menus .logo
{
    color: #fff;
    font-size: 25px;
    margin-top: 30px;
    padding: 10px;
}

.header .menus nav
{
    display: none;
}


.Location
{
    display:inline-block;
    height: 100%;
    width: 100%;
    background-image: url('../images/location.jpg');
    padding-bottom: 50px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    
}
.Location .cards
{
    margin-top: 30px;
    background-color: #fff;
    width: 80%;
    height: 100px;
    margin-left: 9%;
}
.Location .cards h1
{
    text-align: center;
    padding-top: 30px;
    color: #0f6193;
}
.Location .search_menu
{
    margin-top: 30px;
    background-color: #fff;
    width: 80%;
    height: 100%;
    margin-left: 9%;
    padding-bottom: 50px;
}




.most_popular
{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-bottom: 50px;
}
.most_popular h1
{
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    color: #0f6193;
}
.most_popular .most_popular_places
{
    display: flex;
    margin-left: 15%;
    width: 80%;
    margin-top: 50px;
}

.most_popular .most_popular_places .most_popular_card
{
    width: 39%;
    height: 180px;
    background-color: #f1f1f1;
    
}
.most_popular .most_popular_places .most_popular_card .place_picture
{
    background-image: url('../images/bohol.jpg');
    height: 100px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}
.most_popular .most_popular_places .most_popular_card .place_picture1
{
    background-image: url('../images/corogiedor.jpg');
    height: 100px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}
.most_popular .most_popular_places .most_popular_card .place_picture2
{
    background-image: url('../images/puerto.jpg');
    height: 100px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}
.most_popular .most_popular_places .most_popular_card label
{
    font-weight: 600;
    display: block;
    text-align: center;

    font-size: 16px;
    color: #0f6193;
}
.most_popular .most_popular_places .most_popular_card1
{
    width: 39%;
    height: 180px;
    background-color: #f1f1f1;
    margin-left: 5%;
    
}
.most_popular .most_popular_places .most_popular_card1 .place_picture
{
    background-image: url('../images/boracay.jpg');
    height: 100px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}
.most_popular .most_popular_places .most_popular_card1 .place_picture1
{
    background-image: url('../images/malapascua.jpg');
    height: 100px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}
.most_popular .most_popular_places .most_popular_card1 .place_picture2
{
    background-image: url('../images/coron.jpg');
    height: 100px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}
.most_popular .most_popular_places .most_popular_card1 label
{
    font-weight: 600;
    display: block;
    text-align: center;

    font-size: 16px;
    color: #0f6193;
}




.faq
{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    justify-content: center;
    padding-bottom: 50px;
}
.faq .faq_content
{
    width: 80%;
    background-color: #fff;
    margin-top: 30px;
}
.faq .faq_content .header_text
{
    padding: 40px;
    font-size: 50px;
    color: #0f6193;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
    font-size: 30px;

}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
}
.faq-body p
{
    margin-top: 30px;
    color: #0f6193;
    font-size: 20px;
    text-align: left;
}

.hr-line{
    width: 60%;
    margin: auto;
    margin-top: 10px;
  }
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #F9F9F9;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}




.footer
{
    background-color: #0f6193;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer .footer_content
{
    
    width: 85%;
    margin-left: 6%;
    height: 100%;
    background-color: #f1f1f1;
    display: flex;
}
.footer .footer_content .footer_logo
{
    width: 250px;
    height: 50%;
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    background-image: url('../images/Logo.png');
    margin-left: 2%;
    margin-top: 2%;
}


@media only screen and (min-width: 768px){

  
    
    .header .menus nav
    {
        display: block;
    }
    
    .header .menus .logo
    {
        margin: auto;
        font-size: 30px;
    }
    .header .menus nav
    {
        float: right; 
        margin: auto;
    }
    .header .menus nav li
    {
        display: inline;
        font-size: 20px;
        padding: 14px;
    }
    .header .menus nav li a
    {
        color: #fff;
        
        padding: 15px;
    }
    .header .menus nav li a:hover
    {
        border: #ffff solid 1px;
        border-radius: 10%;
    }
    .header .menus nav li:hover
    {
        cursor: pointer;
        color: aliceblue;
    }

    .header .header_content
    {    
        display: flex;
          
    }
    .header .header_content .header_text
    {
        margin: auto;
        font-size: 35px;
        color:#fff;
        margin-top: 10%;
    }
    .header .header_content .header_text h4
    {
        color: rgb(255, 255, 255);
        font-weight: 300;
        margin-top: 10px;
    }
    .header .header_content .header_text .get_started
    {
        width: 170px;
        height: 60px;
        border: none;
        background-color: rgb(15, 15, 15);
        border-radius: 10px;
        font-size: 18px;
        opacity: 0.8;
        color: #fff;
        font-weight: 600;
        margin-top: 70px;
    }

  
}
