*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}

body{
    height: 100vh;
    background: url(bg.jpg) no-repeat center;
    background-size: cover;
    display: flex;

}

.main-section{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:100px;
    box-sizing: border-box;
}

.card1{
    position: relative;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90%;
    height: 140px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    padding:20px;
    box-sizing: border-box;
}
.card2{
    position: relative;
    flex: 1;
    max-width: 30%;
    height:auto;
    margin: 20px;
    display: flex;
    margin-top:30px;
    box-sizing: border-box;
    padding:20px;
    background-color: #F8F8FF;
}


.icon{
    font-size: 32px;
    color: #ea8685;
    transition: .3s linear;
}


.content-main-header{
    height:50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.question-counter-details{
    width:100%;
    height:50px;
    box-sizing: border-box;
    text-align: right;
 

}
.ask-question-button{
    width:100%;
    box-sizing: border-box;
    text-align:right;
    margin-right:20px;
}

.question-display-holder{
    width:100%;
    height:auto;
    margin-top:100px;
    padding:10px;
    box-sizing: border-box;

}



@media screen and (max-width:900px){
    .card1{
        flex: 100%;
        max-width: 500px;
    }
    .card2{
        flex: 100%;
        max-width: 500px;
    }
    .question-counter-details{
        flex: 100%;
    }
}

.question-count{
    float: left;
    margin-left:5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* ask question button style */
  .button {
    backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: #007494;
  border-radius: 500px;
  border: 0px solid #444;
  border-width: 0px 0px 0px 0px;
  padding: 8px 20px 8px 50px;
    color: #fff;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  font-style: normal
  }
  .button > div {
    color: #999;
  font-size: 10px;
  font-family: Helvetica Neue;
  font-weight: initial;
  font-style: normal;
  text-align: center;
  margin: 0px 0px 0px 0px
  }
  .button > i {
  color: #007494;
  font-size: 1.5em;
  background: #fff;
  border-radius: 100px;
  border: 4px solid  #007494;
  border-width: 4px 4px 4px 4px;
  padding: 11px 12px 11px 12px;
  margin: 6px 6px 6px 6px;
  position: absolute;
  top: -15px;
  left: -10px;
  bottom: -10px
  }
  .button > .ld {
    font-size: initial
  }

  .button:hover #questionmark { 
    background-color: green !important; 
    color:white;
    animation:  shake 0.8s  ;

  }

  @keyframes shake{
    0%{
      transform: translateX(0)
    }
    25%{
      transform: translateX(25px);
    }
      
    50%{
      transform: translateX(-25px);
    }
    100%{
      transform: translateX(0px);
    }
  }

  /* end ask question button style */

  /* Filter button style */

  .button4 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top:50px;


  }
  .button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
  
  .button4:hover {background-color: #e7e7e7;}

  /* End filter button style */


  /* most like display text design */
  .card-text-mostlike{
    color:rgb(68, 68, 68);
    font-size: .8rem;
    border-bottom: rgb(228, 228, 228) solid 1px;
  }
  .card-text-mostlike:hover{
    color:#000;
    cursor: pointer;
    font-weight: bold;
  }

  .card-right-panel{
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.21);
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.21);
  }

  .card-title{
    color:#007494;
  }
  .card-subtitle{
    font-size: .7rem;
  }
  .card{
    text-align: left;
  }

  .engagement-figure{
    display: inline-block;
    margin-left: 5px;
  }

  .question-display-home{
    margin-top:10px;
  }

  /* modal style */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    max-width: 800px;
    width: 90%;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 3px;
    background: #fff;
}
.close {
    font-family: Arial, Helvetica, sans-serif;
    background: #f26d7d;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 34px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    padding-top: 5px;
}
.close:hover {
    background: #fa3f6f;
}

/* input tags style */

.tags-input-wrapper{
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    max-width: 400px;
    border: 1px solid #ccc
}
.tags-input-wrapper input{
    border: none;
    background: transparent;
    outline: none;
    width: 140px;
    margin-left: 8px;
}
.tags-input-wrapper .tag{
    display: inline-block;
    background-color: #fa0e7e;
    color: white;
    border-radius: 40px;
    padding: 0px 3px 0px 7px;
    margin-right: 5px;
    margin-bottom:5px;
    box-shadow: 0 5px 15px -2px rgba(250 , 14 , 126 , .7)
}
.tags-input-wrapper .tag a {
    margin: 0 7px 3px;
    display: inline-block;
    cursor: pointer;
}
.user-posted{
  display:inline-block;
  float:right;
}
.posted-by-text{
  color:rgb(119, 119, 119);
}
.postedby-name{
  color:rgb(121, 120, 120);
}

.liked_display:hover{
  cursor: pointer;
  color: #4CAF50;
}
.description_holder{
  max-height: 100px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

/*Header sytling-------------------------------------------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-weight: normal;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  position: relative;
  width: 100%;
  height: 100px;
  line-height: 50px;
  border-bottom:solid lightgray 1px;

}

.header .logo {
  font-size: 2.5em;
}

.header .logo a {
  color: #000;
  text-decoration: none;
}

/* Mobile menu */
#menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 1em;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  padding: 0 0.4em;
}

#menu-icon:hover {
  opacity: 0.85;
  text-decoration: none;
  border: none;
}

.navbar {
  float: none;
  max-height: 0;
  overflow: hidden;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  -webkit-transition: max-height 0.4s;
  transition: max-height 0.4s;
}

.navbar .menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar .menu li {
  list-style-type: none;
  display: block;
}

.navbar .menu li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 0 0.8em;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header .expand {
  max-height: 20em;
}

@media only screen and (min-width: 999px) {
  .logo {
    margin-left: 0;
  }

  .logo,
  .navbar {
    display: inline-block;
  }

  /* Mobile menu icon */
  #menu-icon {
    display: none;
  }

  .navbar {
    float: right;
    max-height: none;
  }

  .navbar .menu li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
  }

  .navbar .menu li a {
    display: block;
    border-bottom: 0;
  }
}

/*search design*/
#search{
    width:400px;
    height:35px;
    background-color:#F8F8FF;
    padding-left: 25px;
    border-radius:5px;
    /*background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;*/
    background-size: 20px;
}



